<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.carrymybag">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RegisterActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--<activity-->
            <!--android:name=".activity.FirstFragment"-->
            <!--android:label="@string/title_activity_first_fragment"-->
            <!--android:theme="@style/AppTheme.NoActionBar" />-->
        <!--<activity-->
            <!--android:name=".activity.SecondFragment"-->
            <!--android:label="@string/title_activity_second_fragment"-->
            <!--android:theme="@style/AppTheme.NoActionBar" />-->
        <!--<activity-->
            <!--android:name=".activity.ThirdFragment"-->
            <!--android:label="@string/title_activity_third_fragment"-->
            <!--android:theme="@style/AppTheme.NoActionBar"></activity>-->
    </application>

</manifest>
